<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ocrv20">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CaptureActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>
        <activity android:name=".CountourActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT " />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity android:name=".CropResActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT " />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity android:name=".CropTinyActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity android:name=".ocrResultActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <activity android:name=".ocrFullShow" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".docOcrActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".ocrHistoryDataListActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".docHistoryDataListActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".MultiLineChartActivity">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity android:name=".docFullShow">
            <intent-filter>
                <action android:name="android.intent.action.EDIT"/>

                <category android:name="android.intent.category.ALTERNATIVE"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.ocrv20.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
    <uses-feature android:name="android.hardware.camera" />
        <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>